body{
	font-weight: 400;
	padding-top:3rem;
}

a{color:#398BBC;}

h1,h2,h3,h4,h5,h6,strong,b{font-weight: 600; color:#555;}

/*  0 → 1 → 2 → 3 → 5 → 8  */

h6{font-size:1rem;}

h5{font-size:1.1rem;}

h4{font-size:1.2rem;}

h3{font-size:1.3rem;}

h2{font-size:1.5rem;}

h1{font-size:1.8rem; margin-bottom: 1.5rem;}

/*  ajustes  */

hr{
	border:2px solid #eee;
}

span{font-weight: 600; color:#555;}

div#mapid{width: 100%;  height: 300px; margin-top:1.5rem;}

div#mapid h5{margin:0; color:#398BBC;} 

div#mapid p{margin:0.25rem 0;}

code, pre{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-size:100%;
	letter-spacing: 0.025rem; 
	color:#89a; 
}

aside{
	margin-bottom:2rem;
	padding:0.5rem;
}

.bg-white{
	background:white;
}